<!DOCTYPE html>
<html lang="ja">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<base target="_top">
<title>Report Viewer</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Test Pipeline Result">
</head>

<body>

<div id="container">
<div id="contents">
<section id="category">

<h2>テスト結果一覧</h2>
<div class="list">
  <h3>テスト結果</h3>
  <table class="ta1">
    <tr><th>テスト結果SEQ</th><th>テストID</th><th>テスト名</th><th>実行数</th><th>OK</th><th>NG</th><th>詳細</th></tr>
    {% for test_result in test_results %}
      <tr>
        <td>{{ test_result.test_result_seq }}</td>
        <td>{{ test_result.test_id }}</td>
        <td>{{ test_result.test_name }}</td>
        <td>{{ test_result.run_count }}</td>
        <td>{{ test_result.ok_count }}</td>
        <td>{{ test_result.ng_count }}</td>
        <td><input type="button" value="参照" onclick="location.href = '/report?test_result_seq={{ test_result.test_result_seq }}';"></td>
      </tr>
    {% endfor %}
  </table>
</div>

</section>
<!--/#category-->

</div>
<!--/#contents-->

</div>
<!--/#container-->

<footer>
  <p>Demo from Red Hat</p>
</footer>

<!--CSSファイルの読み込み-->
<link href="/static/css/main.css" rel="stylesheet">

<!--jQueryファイルの読み込み-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</body>
</html>
